@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Roboto', sans-serif;
  }

.scroll-container {
    display: flex;
    overflow-x: auto;
    height: 100vh;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.section {
    width: 100vw;
    scroll-snap-align: start;
    overflow-y: auto;
    flex-shrink: 0;
    scroll-snap-align: start;

    scrollbar-width: none;
}

.section::-webkit-scrollbar {
  display: none;
}
